@page
@model MyApp.Pages.Movies.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />

<form method="post">
    <input asp-for="Movie.Name" placeholder="Name" class="form-control" />
    <br>
    <input asp-for="Movie.Year" placeholder="Year" class="form-control" />
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="index" class="btn btn-link">Back to list</a>

</form>


